NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_CSRF_COOKIE_NAME=csrf_token
NEXT_PUBLIC_CSRF_HEADER_NAME=x-csrf-token
OTEL_SERVICE_NAME=street-world-web
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
